<ul>
  <li>
    {{#link-to "cards.triplet"}}Card Triplet{{/link-to}}
  </li>
  <li>
    {{#link-to "cards.triforce"}}Card Triforce{{/link-to}}
  </li>
  <li>
    {{#link-to "cards.quartet"}}Card Quartet{{/link-to}}
  </li>
  <li>
    {{#link-to "cards.quadforce"}}Card Quadforce{{/link-to}}
  </li>
</ul>