@import "materialize";
@import "compass";
@import "simwms-assets";
@import "bower_components/font-awesome/scss/font-awesome";

svg.map-grid {
  height: 700px;
}

.house {
  polygon {
    fill: #444;
    stroke: black;
    stroke-width: 3;
    cursor: pointer;
    &:hover {
      fill: #555;
    }
  }
}

.road {
  polyline {
    stroke: black;
    stroke-width: 5;
    fill: none;
  }
}