<h4>Material Card</h4>
<p>
  <a href="https://www.google.com/design/spec/components/cards.html" target="blank">
    Google's card specs can be found here
  </a>
</p>
<p>Material cards collection helps organize your cards and present them in an interesting way.</p>

{{#link-to "cards.index"}}
  Cards Index
{{/link-to}}
{{outlet}}