<h4>Map Grid</h4>
<p>A pure ember implementation of an over-head 2d grid.</p>
<p>It's neither a material nor a bootstrap asset</p>
<p>Ships with scrollability, tile numeration, and possibly zooming in the future</p>


{{#map-grid}}
  {{#map-grid-polygon model=house}}
    {{map-grid-edge-attachment model=door}}
  {{/map-grid-polygon}}
  {{map-grid-polyline model=road}}
  {{map-grid-tile model=tile}}
{{/map-grid}}