<h4>Material Hero</h4>
<p>
  <a href="http://getbootstrap.com/components/#jumbotron" target="blank">
    Twitter Bootstrap's exposition on the jumbotron / hero
  </a>
</p>
<p>Google isn't big on the hero slide; they're not wrong, this thing is essentially a glorified picture slide that serves no content functionality.</p>

<p>Nevertheless, the nature of the web is that corporations like mildly dynamic slideshows that showcase their company, and regardless of my opinions on google's design choice, they are necessarily secondary to the demands of a paying client.</p>

<h3>Hero: big slideshow</h3>
{{#material-hero size="big" pics=model}}
  <div class="material-hero-title">
    ACME Co.
  </div>
{{/material-hero}}

<h3>Hero: medium slideshow</h3>
{{#material-hero size="medium" pics=model}}
  <div class="material-hero-title">
    ACME Co.
  </div>
{{/material-hero}}

<h3>Hero: small slideshow</h3>
{{#material-hero size="small" pics=model}}
  <div class="material-hero-title">
    ACME Co.
  </div>
{{/material-hero}}