<ul>
  <li>
    {{#link-to "tiles"}}Material Tiles{{/link-to}}
  </li>
  <li>
    {{#link-to "loader"}}Material Fancy Loader{{/link-to}}
  </li>
  <li>
    {{#link-to "list"}}Material List{{/link-to}}
  </li>
  <li>
    {{#link-to "cards"}}Material Cards{{/link-to}}
  </li>
  <li>
    {{#link-to "hero"}}Material Hero{{/link-to}}
  </li>
</ul>