<h4>Material List</h4>
<p>
  <a href="https://www.google.com/design/spec/components/lists.html#lists-specs" target="blank">
    Google's list specs can be found here
  </a>
</p>
<p>Lists are a great way to present information, yet no one has bothered to implement it in any of the materialize libraries I use.</p>

{{material-list model=guy displayKeys=keys iconMap=icons}}