svg.map-grid {
  width: 100%;
  height: 100%;

  &.drag-mode {
    cursor: move;
  }

  .select-mode {

  }
  text {
    text-anchor: middle;
  }
  .selected {
    polygon,
    polyline,
    rect {
      stroke: #84ffff;
    }
  }
}

.ghost-polygon {
  stroke: #84ffff;
  stroke-width: 2;
  fill: #e0f7fa;
}

.map-grid-ghost.inactive {
  display: none;
}

.map-grid-ghost-box.inactive {
  display: none;
}

.map-grid-ghost-batch.inactive {
  display: none;
}

.map-grid-edge-scroll {
  stroke: none;
  fill: fade-out(#fff, 1);
}