.material-power-card {
  margin-top: 0.65rem;
  margin-bottom: 0.65rem;
  height: 450px;
  width: 100%;
  @media #{$medium-and-up} {
    @include border-radius(5px);
  }
  .power-card-link-icon {
    width: 50px;
    text-align: right;
    float: right;
  }
  .power-card-link-content {
    width: auto;
    margin: 0 auto;
    float: left;
  }
  .power-card-link:after {
    content: "";
    display: table;
    clear: both;
  }
  .power-card-content,
  .power-card-link {
    display: block;
    background-color: #fff;
    padding: 1rem;
    width: 100%;
  }
  .power-card-title {
    font-size: 1.2rem;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .power-card-subtitle {
    font-size: 0.8rem;
    color: color("grey", "darken-2");
  }
}
.material-power-card-container {
  &:nth-child(3),
  &:nth-child(4) {
    .material-card-quartet {
      @media #{$medium-and-up} {
        @include display-flex;
        @include align-items(flex-end);
      }
    }
  }
}

.material-power-card-container.triforce {
  &:nth-child(3) {
    @media #{$large-and-up} {
      margin-left: 25%;
    }
  }
}

.material-power-card-container.quadforce {
  &:first-child,
  &:last-child {
    @media #{$medium-and-up} {
      margin-left: 25%;
    }
  }
}